Data Cleaning using numpy
The following are the student marks of a class [44,24,np.nan,59,32,96,188,52,62,58,52,120,np.nan,np.nan,3,56,81,59,,122,92,np.nan,87,96,97,1,19,2,53, 44]

Find the no of outliers and missing values?
replace the outliers with 45 and missing value with 87.
what is the average marks of students after 2nd step?
How many students got less than 60 marks?
what is the maximum marks?
Convert the marks to float32.
Solving Linear Equations
2x + 3y - z = 10

x - y + 2z = 5

3x + 2y + z = 12

2x + y - z + 3w = 8

3x - 2y + 2z + 2w = 1

x + 3y - 2z + w = 7

4x - y + z - 2w = 3

4x + 2y - 3z = 10

-2x + 3y + z = -3

x - y + 2z = 4

Solve the system of equations using NumPy's linalg.solve function.

Conditional Selection with np.where()
Generate a random 1D array A of 10 integers between 1 and 100.

Use np.where() to find the indices where the elements of A are greater than 50.

Create a new array B that contains elements from A where the condition is met.

Calculate the mean of array B and print it along with arrays A and B.

Replace Values with np.where()
Create a 4x4 random integer matrix C with values between -10 and 10.

Use np.where() to replace all negative values in matrix C with 0.

Print the original matrix C and the modified matrix.

Data Cleaning using numpy The following are the student marks of a class [44,24,np.nan,59,32,96,188,52,62,58,52,120,np.nan,np.nan,3,56,81,59,,122,92,np.nan,87,96,97,1,19,2,53, 44]

Find the no of outliers and missing values? replace the outliers with 45 and missing value with 87. what is the average marks of students after 2nd step? How many students got less than 60 marks? what is the maximum marks? Convert the marks to float32.

In [1]:
import numpy as np

In [2]:
marks = np.array([44,24,np.nan,59,32,96,188,52,62,58,52,120,np.nan,np.nan,3,56,81,59,122,92,np.nan,87,96,97,1,19,2,53, 44])
marks

array([ 44.,  24.,  nan,  59.,  32.,  96., 188.,  52.,  62.,  58.,  52.,
       120.,  nan,  nan,   3.,  56.,  81.,  59., 122.,  92.,  nan,  87.,
        96.,  97.,   1.,  19.,   2.,  53.,  44.])

In [4]:
a =  np.isnan(marks)
a

array([False, False,  True, False, False, False, False, False, False,
       False, False, False,  True,  True, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False])

In [5]:
missing_values = np.sum(a)
missing_values

4

In [8]:
outliers = (marks[(marks > 100) | (marks < 0)])
len(outliers) # no.of outliers

3

In [9]:
outliers

array([188., 120., 122.])

In [10]:
marks_1 = np.where(np.isnan(marks),87,marks)
marks_1

array([ 44.,  24.,  87.,  59.,  32.,  96., 188.,  52.,  62.,  58.,  52.,
       120.,  87.,  87.,   3.,  56.,  81.,  59., 122.,  92.,  87.,  87.,
        96.,  97.,   1.,  19.,   2.,  53.,  44.])

In [21]:
marks_2= np.where((marks_1 > 100) | (marks_1 < 0),45,marks_1)
marks_2

array([44., 24., 87., 59., 32., 96., 45., 52., 62., 58., 52., 45., 87.,
       87.,  3., 56., 81., 59., 45., 92., 87., 87., 96., 97.,  1., 19.,
        2., 53., 44.])

In [13]:
np.mean(marks_2)  # avg

56.96551724137931

In [14]:
max(marks_2)  # maximum marks

97.0

In [16]:
np.sum(marks_2 < 60)    #  students got less than 60 marks

18

In [22]:
np.array(marks_2.astype('float32'))  # Convert the marks to float32.

array([44., 24., 87., 59., 32., 96., 45., 52., 62., 58., 52., 45., 87.,
       87.,  3., 56., 81., 59., 45., 92., 87., 87., 96., 97.,  1., 19.,
        2., 53., 44.], dtype=float32)

Solving Linear Equations

2x + 3y - z = 10

x - y + 2z = 5

3x + 2y + z = 12

2x + y - z + 3w = 8

3x - 2y + 2z + 2w = 1

x + 3y - 2z + w = 7

4x - y + z - 2w = 3

4x + 2y - 3z = 10

-2x + 3y + z = -3

x - y + 2z = 4

Solve the system of equations using NumPy's linalg.solve function.

1.2x + 3y - z = 10

x - y + 2z = 5

3x + 2y + z = 12

In [23]:
s1 = np.array([[2,3,-1],[1,-1,2],[3,2,1]])

In [24]:
a = np.array([10,5,12])

In [25]:
np.linalg.solve(s1,a)

array([-6.75539944e+15,  6.75539944e+15,  6.75539944e+15])

2.
2x + y - z + 3w = 8

3x - 2y + 2z + 2w = 1

x + 3y - 2z + w = 7

4x - y + z - 2w = 3

In [26]:
s2 = np.array([[2,1,-1,3],[3,-2,2,2],[1,3,-2,1],[4,-1,1,-2]])

In [27]:
b = np.array([8,1,7,3])

In [28]:
np.linalg.solve(s2,b)

array([ 1.73170732, -0.75609756, -3.46341463,  0.6097561 ])

3.

4x + 2y - 3z = 10

-2x + 3y + z = -3

x - y + 2z = 4

In [29]:
s3 = np.array([[4,2,-3],[-2,3,1],[1,-1,2]])

In [30]:
c = np.array([10,-3,4])

In [31]:
np.linalg.solve(s3,c)

array([2.85365854, 0.6097561 , 0.87804878])

Conditional Selection with np.where() Generate a random 1D array A of 10 integers between 1 and 100.

Use np.where() to find the indices where the elements of A are greater than 50.

Create a new array B that contains elements from A where the condition is met.

Calculate the mean of array B and print it along with arrays A and B.

In [35]:
a = np.arange(1,100,10)

In [36]:
a

array([ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91])

In [37]:
b = np.where((a>50))  # Use np.where() to find the indices where the elements of A are greater than 50.
b

(array([5, 6, 7, 8, 9], dtype=int64),)

In [39]:
B = np.array(a[a>50])  #Create a new array B that contains elements from A where the condition is met.
B

array([51, 61, 71, 81, 91])

In [40]:
np.mean(a)

46.0

In [41]:
np.mean(B)

71.0

Replace Values with np.where() Create a 4x4 random integer matrix C with values between -10 and 10.

Use np.where() to replace all negative values in matrix C with 0.

Print the original matrix C and the modified matrix.

In [42]:
matrix_c = np.random.randint(-10,10,16).reshape(4,4)
matrix_c

array([[-6, -2,  9, -5],
       [-4, -7,  2, -1],
       [ 4, -4, -6,  2],
       [ 5, -2, -6, -9]])

In [43]:
neg = np.where(matrix_c<0,0,matrix_c)

In [44]:
neg

array([[0, 0, 9, 0],
       [0, 0, 2, 0],
       [4, 0, 0, 2],
       [5, 0, 0, 0]])

In [45]:
matrix_c

array([[-6, -2,  9, -5],
       [-4, -7,  2, -1],
       [ 4, -4, -6,  2],
       [ 5, -2, -6, -9]])

In [46]:
neg

array([[0, 0, 9, 0],
       [0, 0, 2, 0],
       [4, 0, 0, 2],
       [5, 0, 0, 0]])