Data Manipulation

1. Find all Statistic Measures
2. Which subject has highest average ?
3. What are the Student IDs who got more tham 80% GPA?
4. How many female students are there in the class?
5. What is the ratio of male students and female students?
6. What are the marks of male students in statistics ?
7. What is the ID of the class topper ?
8. What is the gender of probabilty topper?
9. Create Pivot Table for gender and class?
10. Which subject got least average marks.?
11. How many male and female students are there ?
12. How many female student are there from class A?
13. Which class has more strength ?
14.Sort the data as per algebra ?
15. How many students got exactly 64 marks from functional analysis?

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\mm732\Downloads\studens_data.csv")

In [4]:
df

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

Find all Statistic Measures

In [5]:
df.describe()

,ID,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
mean,1193.000000,82.957048,76.057143,71.961905,78.942857,85.133333,83.876190,80.761905,75.323810
std,30.454885,6.053187,11.722618,12.197039,14.997326,10.269509,10.514363,10.296119,13.003324
min,1141.000000,63.490000,46.000000,38.000000,17.000000,51.000000,29.000000,54.000000,9.000000
25%,1167.000000,79.340000,67.000000,64.000000,71.000000,80.000000,79.000000,74.000000,67.000000
50%,1193.000000,84.110000,76.000000,73.000000,83.000000,87.000000,85.000000,81.000000,76.000000
75%,1219.000000,87.300000,84.000000,80.000000,91.000000,92.000000,92.000000,89.000000,85.000000
max,1245.000000,93.710000,98.000000,100.000000,99.000000,100.000000,97.000000,100.000000,100.000000


Which subject has highest average ?

In [10]:
avg_alg = df["Algebra"].mean()
avg_alg

76.05714285714286

In [11]:
avg_cal1 = df["Calculus1"].mean()
avg_cal1

71.96190476190476

In [12]:
avg_cal2 = df["Calculus2"].mean()
avg_cal2

78.94285714285714

In [13]:
avg_stat = df["Statistics"].mean()
avg_stat

85.13333333333334

In [14]:
avg_prob = df["Probability"].mean()
avg_prob

83.87619047619047

In [15]:
avg_measure = df["Measure"].mean()
avg_measure

80.76190476190476

In [16]:
avg_FA = df["Functional_analysis"].mean()
avg_FA

75.32380952380953

In [17]:
all_avg = pd.Series([avg_alg,avg_cal1,avg_cal2,avg_stat,avg_prob,avg_measure,avg_FA])

In [18]:
all_avg.max() # Statistics got highesh average

85.13333333333334

What are the Student IDs who got more tham 80% GPA?

In [19]:
df

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

In [27]:
df[(df['GPA']>80)]['ID']

11     1152
13     1154
14     1155
15     1156
17     1158
       ...
100    1241
101    1242
102    1243
103    1244
104    1245
Name: ID, Length: 76, dtype: int64

How many female students are there in the class?

In [29]:
df['gender'].value_counts()

gender
female    68
male      37
Name: count, dtype: int64

females = 68

In [31]:
females = df['gender'].value_counts()[0]
females

C:\Users\mm732\AppData\Local\Temp\ipykernel_13760\4214945810.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  females = df['gender'].value_counts()[0]

68

What is the ratio of male students and female students?

In [32]:
males = df['gender'].value_counts()[1]
males

C:\Users\mm732\AppData\Local\Temp\ipykernel_13760\1519503812.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  males = df['gender'].value_counts()[1]

37

In [33]:
ratio = print(f'{males}: {females}')

37: 68

What are the marks of male students in statistics ?

In [34]:
df[(df['gender']== "male")]['Statistics']

0       60
5       61
6       63
10      69
13      73
14      76
16      76
17      76
18      76
19      78
20      78
21      78
24      80
28      83
31      83
32      83
33      83
40      85
47      87
50      87
59      89
61      89
65      90
72      92
78      92
82      92
89      94
90      95
92      95
96      97
97      97
98      97
99      97
101     98
102     98
103     99
104    100
Name: Statistics, dtype: int64

What is the ID of the class topper ?

In [35]:
df

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

In [45]:
high_marks = df['GPA'].idxmax()
high_marks

104

In [46]:
topper_id =df.loc[high_marks,"ID"]

In [47]:
topper_id

1245

What is the gender of probabilty topper?

In [49]:
max_prob = df['Probability'].idxmax()
max_prob

41

In [50]:
gender_prob_topper = df.loc[max_prob,"gender"]

In [51]:
gender_prob_topper

'female'

Create Pivot Table for gender and class?

In [55]:
pd.crosstab(df['gender'],df['class'])

class    A   B
gender
female  48  20
male    28   9

Which subject got least average marks.?

In [57]:
df.describe()

,ID,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
mean,1193.000000,82.957048,76.057143,71.961905,78.942857,85.133333,83.876190,80.761905,75.323810
std,30.454885,6.053187,11.722618,12.197039,14.997326,10.269509,10.514363,10.296119,13.003324
min,1141.000000,63.490000,46.000000,38.000000,17.000000,51.000000,29.000000,54.000000,9.000000
25%,1167.000000,79.340000,67.000000,64.000000,71.000000,80.000000,79.000000,74.000000,67.000000
50%,1193.000000,84.110000,76.000000,73.000000,83.000000,87.000000,85.000000,81.000000,76.000000
75%,1219.000000,87.300000,84.000000,80.000000,91.000000,92.000000,92.000000,89.000000,85.000000
max,1245.000000,93.710000,98.000000,100.000000,99.000000,100.000000,97.000000,100.000000,100.000000

In [58]:
all_avg.min() # calculus1 has least avg

71.96190476190476

 How many male and female students are there ?

In [60]:
df['gender'].value_counts()

gender
female    68
male      37
Name: count, dtype: int64

How many female student are there from class A?

In [64]:
len(df[(df['gender'] == 'female') & (df['class'] == 'A')])

48

Which class has more strength ?

In [66]:
df

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

In [68]:
df['class'].value_counts()

class
A    76
B    29
Name: count, dtype: int64

class A has more strength

Sort the data as per algebra ?

In [69]:
df.sort_values("Algebra")

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
3,1144,A,female,72.89,46,72,38,60,29,54,51
2,1143,A,female,74.56,47,48,71,60,61,68,64
4,1145,A,female,70.11,49,45,63,60,66,66,61
1,1142,A,female,71.22,57,50,51,51,55,62,61
9,1150,A,female,76.50,60,61,60,69,73,60,62
...,...,...,...,...,...,...,...,...,...,...,...
65,1206,A,male,86.37,95,76,87,90,86,94,84
75,1216,A,female,91.90,95,86,96,92,95,90,95
87,1228,A,female,88.62,95,65,97,94,97,85,85
97,1238,A,male,91.14,98,90,98,97,83,93,89
101,1242,B,male,89.84,98,77,95,98,96,88,100

How many students got exactly 64 marks from functional analysis?

In [70]:
len(df[(df['Functional_analysis'] == 64)])

8

8 students got exactly 64 marks from functional analysis