1.  Create a lambda function that takes two arguments and returns their sum.

    Create another lambda function that takes a single argument and returns its square.
    
    Use the lambda functions to calculate the sum and square of various numbers and print the results.
    
2.  Define a list of integers.

    Use the filter function to create a new list that contains only the even numbers from the original list.
    
    Use the filter function again to create a new list that contains only numbers greater than 10 from the original list.
    
    Print both filtered lists.
    
3.  Define a list of strings where each string represents a number (e.g., ["1", "2", "3"]).

    Use the map function to convert each string to an integer and store the result in a new list.
    
    Use the map function again to square each integer in the new list and store the result in another new list.
    
    Print both new lists.
    
4.  Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]

    Use the filter function to create a new list that contains only the people who are older than 25.
    
    Use the map function to create a new list that contains the names of the filtered people.
    
    Print the list of names.
    
5.  Create a program that reads a list of numbers from the user (you can use the input function for this).

    Use map and filter functions to perform the following operations:
    
    Square each number.
    
    Filter out numbers that are not divisible by 3.
    
    Print the result.

Create a lambda function that takes two arguments and returns their sum.

Create another lambda function that takes a single argument and returns its square.

Use the lambda functions to calculate the sum and square of various numbers and print the results.

In [1]:
m = lambda a,b : a+b
m(2,3)

5

In [2]:
m = lambda a : a * a
m(5)

25

In [15]:
m = lambda *n : sum(n) 
c = lambda n : n*n
m(1,2,3,4,5)

15

In [16]:
c(6)

36

Define a list of integers.

Use the filter function to create a new list that contains only the even numbers from the original list.

Use the filter function again to create a new list that contains only numbers greater than 10 from the original list.

Print both filtered lists.

In [17]:
 a = [1,2,3,4,5,6,7,8,10,23,45,566]

In [18]:
def even(n):
    if n %2==0:
        return n

In [22]:
even_list = list(filter(even,a))

In [21]:
greaterthan10 = list(filter(lambda n: n>10,a))

In [23]:
print(even_list)

[2, 4, 6, 8, 10, 566]

In [24]:
print(greaterthan10)

[23, 45, 566]

Define a list of strings where each string represents a number (e.g., ["1", "2", "3"]).

Use the map function to convert each string to an integer and store the result in a new list.

Use the map function again to square each integer in the new list and store the result in another new list.

Print both new lists.

In [25]:
list1 = ['1',"2","3","4","5","6"]

In [27]:
a = list(map(int,list1))

In [28]:
a # new list with integers

[1, 2, 3, 4, 5, 6]

In [29]:
def square(n):
    return n*n

In [31]:
b = list(map(square,a))

In [32]:
b # new list with squares

[1, 4, 9, 16, 25, 36]

Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]

Use the filter function to create a new list that contains only the people who are older than 25.

Use the map function to create a new list that contains the names of the filtered people.

Print the list of names.

In [42]:
list2 = [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, {"name":"sam","age":33},{"name":"nag","age":24}]

In [43]:
def fun1(n):
    if n["age"]>25:
        return n

In [47]:
list3 = list(filter(fun1,list2))

In [50]:
list3

[{'name': 'Alice', 'age': 30}, {'name': 'sam', 'age': 33}]

In [48]:
def fun2(n):
    return n["name"]

In [49]:
list4 = list(map(fun2,list3))

In [51]:
list4

['Alice', 'sam']

Create a program that reads a list of numbers from the user (you can use the input function for this).

Use map and filter functions to perform the following operations:

Square each number.

Filter out numbers that are not divisible by 3.

Print the result.

In [57]:
list7 = []
num = int(input("enter the no of elements in list ::"))
for i in range(1,num+1):
    a = int(input(f"enter a input{i}::"))
    list7.append(a)

enter the no of elements in list ::7
enter a input1::1
enter a input2::2
enter a input3::3
enter a input4::4
enter a input5::5
enter a input6::6
enter a input7::6

In [58]:
list7

[1, 2, 3, 4, 5, 6, 6]

In [67]:
def square(n):
    return n*n
def div(n):
    if n%3!=0:
        return n

In [60]:
even_list = list(map(square,list7))

In [61]:
even_list

[1, 4, 9, 16, 25, 36, 36]

In [68]:
divsible_list = list(filter(div,list7))

In [69]:
divsible_list

[1, 2, 4, 5]