Task 1: Leap Year Checker

Write a program that takes a year as input and determines whether it is a leap year or not. A leap year is a year that is divisible by 4, but not divisible by 100, unless it is also divisible by 400. Display an appropriate message indicating whether the year is a leap year or not.

Task 2: Grade Calculator

Write a program that takes a student's score as input (out of 100) and determines their grade based on the following conditions: If the score is 90 or above, the grade is 'A'. If the score is between 80 and 89, the grade is 'B'. If the score is between 70 and 79, the grade is 'C'. If the score is between 60 and 69, the grade is 'D'. If the score is below 60, the grade is 'F'. Display the grade corresponding to the entered score.

Task 3: Calculator Write a program that takes two numbers as input and performs a mathematical operation (+, -, *, /) based on the user's choice. Use a conditional statement to determine the operation to be performed. Display the result of the calculation.

Task 4: Reverse String Write a Python function to reverse a string.

Task 5: Palindrome Write a Python function that checks whether a passed string is a palindrome or not.

Task 6: Counting Write a Python function that accepts a string and counts the number of upper and lower case letters.

Task 1: Leap Year Checker

Write a program that takes a year as input and determines whether it is a leap year or not. A leap year is a year that is divisible by 4, but not divisible by 100, unless it is also divisible by 400. Display an appropriate message indicating whether the year is a leap year or not.

# function

In [1]:
def leap(year):
    if (year%4==0) and (year%100 != 0) or (year%400==0):
        print("leap year")
    else:
        print("Not leap year")
leap(2012)

leap year

# lambda function

In [2]:
a= lambda year:(year%4==0) and (year%100 != 0) or (year%400==0)

year= int(input("Enter the year:: "))
a(year)
if a(year)==True:
    print(" leap year")
else:
     print(" Not a leap year")

Enter the year:: 2016
 leap year

# map function

In [10]:
list1= list(range(2000,2024))

def fun(year):
    if (year%4==0) and (year%100 != 0) or (year%400==0):
        return "Leap year"
    else:
        return "Not a leap year"

In [11]:
list3 = list(map(fun,list1))

In [12]:
list3

['Leap year',
 'Not a leap year',
 'Not a leap year',
 'Not a leap year',
 'Leap year',
 'Not a leap year',
 'Not a leap year',
 'Not a leap year',
 'Leap year',
 'Not a leap year',
 'Not a leap year',
 'Not a leap year',
 'Leap year',
 'Not a leap year',
 'Not a leap year',
 'Not a leap year',
 'Leap year',
 'Not a leap year',
 'Not a leap year',
 'Not a leap year',
 'Leap year',
 'Not a leap year',
 'Not a leap year',
 'Not a leap year']

# filter function

In [13]:
list1= list(range(2000,2024))

def fun(year):
    if (year%4==0) and (year%100 != 0) or (year%400==0):
        return year
list3 = list(filter(fun,list1))

In [14]:
list3

[2000, 2004, 2008, 2012, 2016, 2020]

Task 2: Grade Calculator

Write a program that takes a student's score as input (out of 100) and determines their grade based on the following conditions: If the score is 90 or above, the grade is 'A'. If the score is between 80 and 89, the grade is 'B'. If the score is between 70 and 79, the grade is 'C'. If the score is between 60 and 69, the grade is 'D'. If the score is below 60, the grade is 'F'. Display the grade corresponding to the entered score.

# function

In [15]:
def grades(score):
    
    if (score>= 90 and score<= 100):
        print("A")
    elif (score>= 80 and score<= 89):
        print("B")
    elif (score>= 70 and score<= 79):
        print("C")
    elif (score>= 60 and score<= 69):
        print("D")
    elif (score< 60 and score>= 0):
        print("F")
    elif (score>100 or score<0):
        print("Enter valid marks")
        
grades(90)

A

# map function

In [19]:

list1= (35,31,20,69,80,100,65)

def grade(score):
    if (score>= 90 and score<= 100):
        print(f"{score} of Grade:A")
    elif (score>= 80 and score<= 89):
        print(f"{score} of Grade:B")
    elif (score>= 70 and score<= 79):
        print(f"{score} of Grade:C")
    elif (score>= 60 and score<= 69):
        print(f"{score} of Grade:D")
    elif (score< 60 and score>= 0):
        print(f"{score} of Grade:F")
    elif (score>100 or score<0):
        print("Enter valid marks")
        
list2= list(map(grade,list1))

35 of Grade:F
31 of Grade:F
20 of Grade:F
69 of Grade:D
80 of Grade:B
100 of Grade:A
65 of Grade:D

Task 3: Calculator Write a program that takes two numbers as input and performs a mathematical operation (+, -, *, /) based on the user's choice. Use a conditional statement to determine the operation to be performed. Display the result of the calculation.

# function

In [21]:
option = input("Enter your option:")
def func(x,y):
    if option == "+":
        return x+y
    elif option == "-":
        return x-y
    elif option == "*":
        return x*y
    elif option == "/":
        return x/y
x= int(input("Enter a number:"))
y= int(input("Enter a number:"))
func(x,y)

Enter your option:+
Enter a number:3
Enter a number:6

9

Task 4: Reverse String Write a Python function to reverse a string.

# function

In [22]:
string= input("Enter a string:")
def reverse(string):
    return string[::-1]
reverse(string)

Enter a string:manssoor

'roossnam'

# lambda function

In [23]:
rev= lambda string: string[::-1]
rev("mansoor")

'roosnam'

# map function

In [24]:
list1= ["mansoor","raheem","sathish"]
def rev(n):
    return n[::-1]
list2= list(map(rev,list1))
list2

['roosnam', 'meehar', 'hsihtas']

Task 5: Palindrome Write a Python function that checks whether a passed string is a palindrome or not.

In [26]:
string=input("Enter the string:: ")
def palindrome(string):
    if string==string[::-1]:
        return "palindrome"
    else:
        return "Not a palindrome"
palindrome(string)

Enter the string:: madam

'palindrome'

# lambda function

In [27]:
palindrome= lambda string: string==string[::-1]

string = input("Enter a string:")

if palindrome(string)==True:
    print("palindrome")
else:
    print("Not a palindrome")

Enter a string:amma
palindrome

# map function

In [29]:
list1= ["mansoor","amma", "madam" ,"mom","12321"]

def palindrome(string):
    
    if string==string[::-1]:
        return "palindrome"
    else:
        return "not a palindrome"

In [31]:
list2 = list(map(palindrome,list1))

In [32]:
list2

['not a palindrome', 'palindrome', 'palindrome', 'palindrome', 'palindrome']

# filter function

In [34]:
list1= ["mansoor","amma", "madam" ,"mom","12321"]

def function(string):
    
    if string==string[::-1]:
        return "palindrome"
    
palindrome= list(filter(function,list1))

In [35]:
palindrome

['amma', 'madam', 'mom', '12321']

Task 6: Counting Write a Python function that accepts a string and counts the number of upper and lower case letters.

In [42]:
string= input("Enter a string:: ")
Upper=[]
Lower=[]

def count(string):
    upper= list(map(chr, range(65, 97)))
    lower= list(map(chr, range(97, 123)))
    
    for i in string:
        if i in upper:
            Upper.append(i)
        elif i in lower:
            Lower.append(i)
            
    print(Upper)
    print(Lower)
    print("upper case letters are:: ",len(Upper))
    print("lower case letters are:: ",len(Lower))
count(string)

Enter a string:: Mansoor Ahammed
['M', 'A']
['a', 'n', 's', 'o', 'o', 'r', 'h', 'a', 'm', 'm', 'e', 'd']
upper case letters are::  2
lower case letters are::  12