1)Ask user to enter a website name and check whether it is valid or not(True/False)

2)name = "Innomatics", course = "Data Science" write python code in different ways to show output as : "Hello World I am learning Data Science in Innomatics"

3)Replace Science with Analysis in the above output.

4)string = ' Hello World I am learning Python in Innomatics ' a. How many characters are there in the string. b. Slice only 'Python' from above string c. Remove white spaces on both sides then find no.of characters in the string. d. Convert the string in Upper case

5)What is the index number of 'World' in above string.

6)Split the string with respect to whitespace.after that store that splitted into a variable and find the data typeof that variable.

7)How many times 'a' is repeated in above string.

1)Ask user to enter a website name and check whether it is valid or not(True/False)

In [1]:
name = input("enter a website name : ")
name.startswith("www.") and name.endswith(".com")  # in this i check is website starts with www. and ends with .com - its the format of website

enter a website name : www.google.com

True

2)name = "Innomatics", course = "Data Science" write python code in different ways to show output as : "Hello World I am learning Data Science in Innomatics"

In [16]:
name = "Innomatics"
course = "Data Science" 
# first way
print ( "Hello World I am learning "+course+"in "+name)

Hello World I am learning Data Sciencein Innomatics

In [14]:
# second way
print("Hello World I am learning {} in {}".format(course,name))

Hello World I am learning Data Science in Innomatics

In [15]:
# third way
print(f"Hello World I am learning {course} in {name}")

Hello World I am learning Data Science in Innomatics

In [18]:
#fourth way
print ( "Hello World I am learning ",course,"in ",name)

Hello World I am learning  Data Science in  Innomatics

3)Replace Science with Analysis in the above output.

In [21]:
str = "Hello World I am learning Data Science in Innomatics"

In [23]:
str.replace("Science", "Analysis")

'Hello World I am learning Data Analysis in Innomatics'

4)string = ' Hello World I am learning Python in Innomatics ' a. How many characters are there in the string. b. Slice only 'Python' from above string c. Remove white spaces on both sides then find no.of characters in the string. d. Convert the string in Upper case

In [24]:
string = ' Hello World I am learning Python in Innomatics '

In [25]:
# a)
len(string)  # length of string givens the no . of charcater

48

In [29]:
#b)
string[-21:-14:]

'Python '

In [30]:
#C)
string.strip() # strip() is used the remove the spaces both sides .

'Hello World I am learning Python in Innomatics'

In [31]:
#d)
string.upper()  # upper() is used to convert into uppercase

' HELLO WORLD I AM LEARNING PYTHON IN INNOMATICS '

5)What is the index number of 'World' in above string.

In [32]:
string.index("World") # index is used to know the index value

7

6)Split the string with respect to whitespace.after that store that splitted into a variable and find the data typeof that variable.

In [34]:
string

' Hello World I am learning Python in Innomatics '

In [33]:
string.split()

['Hello', 'World', 'I', 'am', 'learning', 'Python', 'in', 'Innomatics']

In [36]:
a = string.split()   # split() it is used to split the value and by default it takes as whitespace.

In [37]:
type(a)  # type is string - after the split

list

7)How many times 'a' is repeated in above string.

In [38]:
string

' Hello World I am learning Python in Innomatics '

In [39]:
string.count("a")

3

its is repeated three time in string