File handling + Time module

Create a Python script that simulates a simple login system. The script should prompt the user to enter their username and password. If the entered username and password match the predefined credentials, the script should log a successful login event to a log file. If the credentials do not match, it should log a failed login attempt to the log file. Example Output Assuming the predefined credentials are username: "user123" and password: "pass123", here's an example output of the script:




Create any 5 of following modules

a. Restaurant

b. IPL

c. Mathematics

d. Data Science

e. India

f. Shopping mall

g. Amazon_price

Do some research while creating them

In [1]:
import time as t

In [2]:
user_name = input("Enter a user name:: ")
password = input("enter a password:: ")
user_1 = input("Enter a user name to login ")
password_user1 = input("enter a password to login:: ")
if (user_name==user_1) and (password == password_user1):
    print(f"Login successful for {user_1} ", t.asctime())
else:
    print(f"login Failed for {user_1} :",t.asctime())

Enter a user name:: mansoor343
enter a password:: Mansoor878
Enter a user name to login mansoor343
enter a password to login:: Mansoor878
Login successful for mansoor343  Mon Oct  2 22:17:49 2023

# Restaurant

In [5]:
import restaurant as res

In [6]:
res.description()

'At Savor Haven, we invite you to embark on a gastronomic journey like no other. Nestled in the heart of [City Name], our newly opened restaurant promises an unforgettable dining experience that will tantalize your taste buds, awaken your senses, and leave you craving for more.'

In [7]:
res.menu()

Appetizers:-
Bruschetta - Freshly toasted bread topped with diced tomatoes, garlic, basil, and extra virgin olive oil - ₹650

Spinach and Artichoke Dip - Creamy spinach and artichoke hearts served with tortilla chips - ₹750

Crispy Calamari - Lightly breaded and fried calamari rings, served with marinara sauce - ₹950

Soups and Salads:

4. Caesar Salad - Crisp romaine lettuce, garlic croutons, Parmesan cheese, and Caesar dressing - ₹550


Tomato Basil Soup - Homemade tomato soup with fresh basil and a hint of cream - ₹450 (cup) / ₹650 (bowl)

Greek Salad - Mixed greens, Kalamata olives, feta cheese, red onions, cucumbers, and Greek vinaigrette - ₹800

Main Courses:
Grilled Salmon - Grilled salmon fillet served with lemon butter sauce and seasonal vegetables - ₹1,850


Penne alla Vodka - Penne pasta in a creamy tomato vodka sauce with grilled chicken - ₹1,250

Filet Mignon - 8-ounce tender filet mignon cooked to your preference, served with garlic mashed potatoes and asparagus - ₹3,250

Vegetarian Options:

 Vegetable Stir-Fry - Fresh mixed vegetables stir-fried in a ginger soy sauce, served with jasmine rice - ₹1,200


Mushroom Risotto - Creamy Arborio rice with wild mushrooms and Parmesan cheese - ₹1,400

 Pizzas:

Margherita Pizza - Tomato sauce, fresh mozzarella, basil, and extra virgin olive oil - ₹1,100


Pepperoni Pizza - Tomato sauce, mozzarella cheese, and pepperoni - ₹1,250

Vegetarian Pizza - Tomato sauce, mozzarella cheese, bell peppers, mushrooms, onions, and olives - ₹1,150

Desserts:

 Tiramisu - Classic Italian dessert with layers of coffee-soaked ladyfingers and mascarpone cream - ₹650


Chocolate Lava Cake - Warm chocolate cake with a molten center, served with vanilla ice cream - ₹750

Cheesecake - New York-style cheesecake topped with your choice of fruit compote - ₹600

Beverages:

18. Soda - Coke, Diet Coke, Sprite, or Pepsi - ₹120


Iced Tea - Sweetened or unsweetened - ₹120

Freshly Brewed Coffee - Regular or decaffeinated - ₹100

These prices are fictional and should be adjusted based on your actual costs and desired profit margins. Additionally, consider providing additional details on the menu, such as ingredients, preparation methods, and any special features to enhance the dining experience for your customers.

In [13]:
res.managers()

sai lokesh

            dharma

            nayam

            rohit

            savayam

In [14]:
res.tables()

Table-01

            Table-02

            Table-03

            Table-04

            Table-05

            Table-06

            Table-07

            Table-08

            Table-09

            Table-10

In [15]:
res.workers()

sai krishna

            rahul krishna

            srinadh reddy

            manohar reddy

            shafeen

            ramu

            rahaman

# IPL

In [16]:
import ipl

In [17]:
ipl.commentators()

Sunil Gavaskar
Jacques Kallis
Matthew Hayden
Kevin Pietersen
Aaron Finch
Tom Moody
Paul Collingwood
Daniel Vettori
Daniel Morrison
David Hussey

In [18]:
ipl.descriotion()

The IPL 2023 auction was conducted on 23 December 2022 in Kochi.[11] A total of 405 players were available for auction including 273 Indian and 132 foreign players.[11] 87 places were available to be filled across the ten teams.[12] The first three Indian players in the lists released on 13 December were Mayank Agarwal, Ajinkya Rahane and Ishant Sharma. The first three foreign players were Harry Brook, Joe Root and Rilee Rossouw.[11] It was, however, expected that Ben Stokes would be the main attraction.[13] In the event, the top bid was made for Sam Curran, bought by Punjab Kings for 1,850 lakh.

In [19]:
ipl.sponsars()

TATA
Dream11
Saudi Tourism Authority
CRED
Upstox
RuPay
Herbalife
Aramco
Star Sports
Jio Cinema
PayTM
CEAT

In [20]:
ipl.teams()

Chennai Super Kings
Mumbai Indians
Kolkata Knight Riders
Rajasthan Royals
Sunrisers Hyderabad
Gujarat Titans
Royal Challengers Bangalore
Delhi Capitals
Punjab Kings
Lucknow Super Giants

In [21]:
ipl.umpires()

Sundaram Ravi
Anil Chaudhary
Kumar Dharmasena
Nitin Menon
Chettithody Shamshuddin
Chris Gaffaney
Marais Erasmus
Bruce Oxenford
C. K. Nandan
Simon Taufel
Vineet Kulkarni

# Mathematics

In [23]:
import mathematics as math

In [25]:
math.addition(12,23)

35

In [27]:
math.division(34,4)

8.5

In [28]:
math.multiplication(2,4)

8

In [29]:
math.quoitent(44,2)

22

In [30]:
math.reminder(45,6)

3

In [31]:
math.subtraction(545,56)

489

# Shopping mall

In [33]:
import shopping_mall as sm

In [34]:
sm.Beauty_Personal_Care()

Cosmetics and beauty supply stores
Perfume and fragrance shops
Hair salons and barbershops
Skincare and spa product outlets

In [35]:
sm.Electronics_Technology()

Electronics stores (TVs, smartphones, laptops, etc.)
Appliance stores (refrigerators, washing machines, etc.)
Computer and gadget accessories shops
Mobile phone service providers

In [36]:
sm.Entertainment()

Movie theaters
Arcade and game centers
Bookstores
Music and multimedia stores

In [37]:
sm.Fashion_Apparel()

Clothing stores for men, women, and children
Shoe stores
Boutiques and fashion accessories shops
Lingerie and intimate apparel stores

In [38]:
sm.Food_Dining()

Restaurants and cafes
Fast food outlets
Food courts
Specialty food stores (e.g., gourmet chocolates, tea, spices)

In [39]:
sm.Home_Decor()

Furniture stores
Home decor and furnishings shops
Kitchenware and appliance stores
Bedding and mattress outlets

In [40]:
sm.Jewelry_Accessories()

Jewelry stores (rings, necklaces, bracelets, etc.)
Watch shops
Watch shops
Handbag and accessory boutiques

In [41]:
sm.Kids_Toys()

Toy stores
Children's clothing and shoe shops
Educational toy stores
Baby care and maternity stores

In [42]:
sm.Sports_Fitness()

Sportswear and athletic shoe stores
Sporting goods shops
Fitness equipment stores
Specialty sports retailers (e.g., golf, outdoor adventure)