1)Basic List Comprehension: Write a Python program that uses list comprehension to generate a list of cubes of the first 10 positive integers.

2)Filtering with List Comprehension: Given a list of integers, create a new list using list comprehension that contains only the multiple of 3 and 5 from the original list.

3)String Manipulation with List Comprehension: Given a list of strings, create a new list using list comprehension that contains the lengths of each string.

4)List Comprehension with Conditionals: Given a list of numbers, create a new list using list comprehension that contains the squares of even numbers

5)Pattern Printing

Write a Python program that takes an integer 'n' as input and prints the following pattern:

For n = 4, the pattern should look like this:

1
1 2
1 2 3
1 2 3 4

6)Multiplication Table

Create a Python program that generates and prints a multiplication table for a given number 'n'. The table should include values from 1 to 10.

For example, if n = 5, the output should be:

```
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
```

7)Star Patterns

Write a Python program that takes an integer 'n' as input and prints the following patterns:

a) Right-angled triangle pattern:

*
**

***

****
*****
b) Inverted right-angled triangle pattern:

*****
****
***
**
*
8)Number Pyramid

Create a Python program that takes an integer 'n' as input and prints a number pyramid as shown below:

For n = 4, the output should be:

   1
  212
 32123
4321234

1)Basic List Comprehension: Write a Python program that uses list comprehension to generate a list of cubes of the first 10 positive integers.

In [1]:
[i**3 for i in range(1,11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

2)Filtering with List Comprehension: Given a list of integers, create a new list using list comprehension that contains only the multiple of 3 and 5 from the original list.

In [6]:
a = list(range(1,100))
[i for i in a if (i%3==0) and (i%5==0)]

[15, 30, 45, 60, 75, 90]

3)String Manipulation with List Comprehension: Given a list of strings, create a new list using list comprehension that contains the lengths of each string.

In [14]:
l1 = ["python","sql","Data analytics","Data Science","Numpys","pandas"]
[(f"{i} length = {len(i)}") for i in l1]

['python length = 6',
 'sql length = 3',
 'Data analytics length = 14',
 'Data Science length = 12',
 'Numpys length = 6',
 'pandas length = 6']

4)List Comprehension with Conditionals: Given a list of numbers, create a new list using list comprehension that contains the squares of even numbers

In [16]:
a = list(range(1,21))
[i**2 for i in a if i%2==0]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

5)Pattern Printing

Write a Python program that takes an integer 'n' as input and prints the following pattern:

For n = 4, the pattern should look like this:

1
1 2
1 2 3
1 2 3 4

In [66]:
n = 4

for i in range(1,n+1):
    string = " "
    for j in range(1,i+1):
        string = string +  str(j) + " "
        
    print(string)

 1
 1 2
 1 2 3
 1 2 3 4

6)Multiplication Table

Create a Python program that generates and prints a multiplication table for a given number 'n'. The table should include values from 1 to 10.

For example, if n = 5, the output should be:

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [57]:
n = int(input("enter a multiple table::"))
for i in range(1,11):
    print(f"{n} * {i} = {n*i}")

enter a multiple table::9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [ ]:
7)Star Patterns

Write a Python program that takes an integer 'n' as input and prints the following patterns:

a) Right-angled triangle pattern:

*
**
***
****
*****
b) Inverted right-angled triangle pattern:

*****
****
***
**
*

In [60]:
# right-angled 
n = int(input("enter a rows::"))
for i in range(1,n+1):
    print("*" * i)

enter a rows::6
*
**
***
****
*****
******

In [61]:
# inverted right-angled
n = int(input("enter a rows::"))
for i in range(n+1,0,-1):
    print("*" * i)

enter a rows::6
*******
******
*****
****
***
**
*

8)Number Pyramid

Create a Python program that takes an integer 'n' as input and prints a number pyramid as shown below:

For n = 4, the output should be:

   1
  212
 32123
4321234

In [1]:
n = int(input("Enter the pyramid number: "))

for i in range(1, n + 1):
    string = ""
    for j in range(n - i):
        string += " "
    for j in range(i, 0, -1):
        string += str(j)
    for j in range(2, i + 1):
        string += str(j)
    print(string)

Enter the pyramid number: 6
     1
    212
   32123
  4321234
 543212345
65432123456