1)Write a function called "add_numbers" that takes two integers as input and returns their sum.

2)Write a function called "multiply_numbers" that takes two integers as input and returns their product.

3)Write a function called "calculate_average" that takes a list of numbers as input and returns the average of thosenumbers.

4)Write a function called "is_even" that takes an integer as input and returns True if the number is even, and False otherwise.

5)Write a function called "reverse_string" that takes a string as input and returns the reverse of that string.

6)Write a function called "count_vowels" that takes a string as input and returns the number of vowels (a, e, i, o, u) in that string.

7)Write a function called "find_max" that takes a list of numbers as input and returns the maximum value in that list.

8)Write a function called "find_min" that takes a list of numbers as input and returns the minimum value in that list.

1)Write a function called "add_numbers" that takes two integers as input and returns their sum.

In [4]:
def add_numbers(a,b):
    return a+b
add_numbers(20,10)

30

2)Write a function called "multiply_numbers" that takes two integers as input and returns their product.

In [5]:
def multiply_numbers(a,b):
    return a*b
multiply_numbers(30,2)

60

3)Write a function called "calculate_average" that takes a list of numbers as input and returns the average of thosenumbers.

In [1]:
def calculate_average(a):
    sum =0
    count = 0
    while a>0:
        n = int(input('enter a number ::'))
        sum += n 
        count += 1
        a -=1
    average = sum/count
    return average
a = int(input("Enter a how many number to give as input::"))
calculate_average(a)

Enter a how many number to give as input::3
enter a number ::5
enter a number ::6
enter a number ::7

6.0

4)Write a function called "is_even" that takes an integer as input and returns True if the number is even, and False otherwise.

In [3]:
def is_even(a):
    if a%2==0:
        return True
    else:
        return False
is_even(3)

False

In [5]:
is_even(6)

True

5)Write a function called "reverse_string" that takes a string as input and returns the reverse of that string.

In [6]:
def reverse_string(a):
    return a[::-1]
a = input("Enter a string::")
reverse_string(a)

Enter a string::innomatics

'scitamonni'

6)Write a function called "count_vowels" that takes a string as input and returns the number of vowels (a, e, i, o, u) in that string.

In [7]:
def count_vowels(a):
    vowels = 0
    for i in a:
        if i in ["a","e","i","o","u"]:
            vowels += 1
    print("vowels count :: ",vowels)
a = input("Enter a string::")
count_vowels(a)

Enter a string::innomatics Research labs
vowels count ::  8

7)Write a function called "find_max" that takes a list of numbers as input and returns the maximum value in that list.

In [8]:
def find_max(num):
    return max(num)
num = [1,2,3,4,5,6,66,33,55,88,100]
find_max(num)

100

8)Write a function called "find_min" that takes a list of numbers as input and returns the minimum value in that list.

In [9]:
def find_min(num):
    return min(num)
num = [1,2,3,4,5,6,66,33,55,88,100]
find_min(num)

1