Assignment Tasks on String Escape Characters, Indexing, and Slicing:

String Escape Characters:

Task 1:

Create a string containing a sentence that includes both single and double quotes.

Use escape characters to include quotes within the string.

Print the modified string.

Task 2:

Declare a string with a backslash \ character in it.

Demonstrate the use of the escape character to print the backslash itself.

Print the resulting string.

Task 3:

Construct a string containing newline and tab escape sequences.

Print the string to display the formatted output.

Indexing and Slicing:

Task 4:

sentence = "I want to become Data Scientist".

Access and print the first character of the string using indexing.

Access and print the last character of the string using negative indexing.

Task 5:

What are possible ways yo extract Scientist(use forward and reverse)

Use slicing to extract and print the first word from the string.

Use slicing to extract and print the last three characters of the string.

Task 6:

name = "Innomatics Reserach Labs"

Apply slicing to extract a substring that includes the second to fifth characters.

Print the extracted substring.

Task 7:

string = "Python@1234"

Use slicing to extract every second character from the string.

Print the resulting sliced string.

Task 8:

print last five letters.

Utilize slicing to reverse the word order in the string.

Print the string with the words in the reversed order.

Task 9:

a = "123123123"

Apply slicing to extract only the numeric characters at odd positions.

Print the sliced result.

Remember to include explanations or comments for each task's code to ensure clarity. Additionally, encourage students to experiment further with different escape characters and slicing techniques beyond the provided tasks to deepen their understanding.

Task 1:

1)Create a string containing a sentence that includes both single and double quotes.

2)Use escape characters to include quotes within the string.

3)Print the modified string.

These can be done in this twp ways

In [3]:
#Task -1
string = "mansoor's plane"  # here for single quote in string that why  i use double quote to string
print(string)
string

mansoor's plane

"mansoor's plane"

In [5]:
string = 'mansoor has "Plane" '  # here for double quote in string that why i use double quote to string

print(string)
string

mansoor has "Plane"

'mansoor has "Plane" '

In [73]:
string = 'mansoor\'s plane' # if we want use single quote in single quote string then we use slash(\) before the quote.
print(string)

mansoor's plane

In [10]:
string = "mansoor has \"Plane\" " # if we want use double quote in double quote string then we use slash(\) before the quotes.
string

'mansoor has "Plane" '

Task 2:

Declare a string with a backslash \ character in it.

Demonstrate the use of the escape character to print the backslash itself.

Print the resulting string.

In [11]:
# Task-2
string = "hello \bworld" # by using \b we can backspace one character 
print(string)

hello world

In [15]:
string = "hello\\bob"   # if we need backslash in string we need to give extra slash(\) to the slash.
print(string)

hello\bob

In [16]:
print(string)

hello\bob

Task 3:

Construct a string containing newline and tab escape sequences.

Print the string to display the formatted output.

Indexing and Slicing:

In [19]:
# Task - 3
string = " i am mansoor ahammed  and \n i am from hyderabad"  # if we need to the string to the new line we use (\n)
print(string)

 i am mansoor ahammed  and
 i am from hyderabad

In [20]:
average = "sum of numbers \\no.of numbers "  # if we need backslash in string we need to give extra slash(\) to the slash.
print(average)

sum of numbers \no.of numbers

#### indexing

indexing - extracting single character

-- var_name[index number]

-- index starts from "0"

In [25]:
name = "hyderabad"

In [23]:
name[0]  # starts from "0"

'h'

In [24]:
name[-1]  # last character index value starts from -1

'd'

### slicing

accessing group of character  from the data

-variable_name[start:stop:step]

In [26]:
name = "hyderabad"

In [27]:
name[0:5:1]

'hyder'

In [28]:
name[0:6:2]

'hdr'

-Start : if we don't provide start value then it takes first value (index[0])

-step : if we don't provide step value, its takes "1" as default value

-stop : if we don't provide stop value , its takes untill last value

In slicing we give more than index number still it accepts the number and print upto the last index number

In [29]:
name[:7:1]

'hyderab'

In [30]:
name[2:8]

'deraba'

In [31]:
name[3::1]

'erabad'

In [33]:
name[0:23]

'hyderabad'

Task 4:

sentence = "I want to become Data Scientist".

1)Access and print the first character of the string using indexing.

2)Access and print the last character of the string using negative indexing.

In [34]:
sentence = "I want to become Data Scientist"

In [35]:
#1)
sentence[0]  # starts from '0' index number is 0

'I'

In [36]:
#2)
sentence[-1] # last character index value starts from -1

't'

Task 5:

1)What are possible ways yo extract Scientist(use forward and reverse)

2)Use slicing to extract and print the first word from the string.

3)Use slicing to extract and print the last three characters of the string.

In [38]:
#1) They are tw0 ways we can extract by using forward and reverse slicing

In [39]:
sentence = "I want to become Data Scientist"

In [40]:
# forward slicing
sentence[22::]  # start index value is  22 whivh meanss "s" from this  we no need give any value to stop and step its take default value as 1

'Scientist'

In [44]:
sentence[-10::]   # reverse silicing

' Scientist'

In [45]:
#2)
sentence[0:1] #  from sentence first word is I so its starts from 0 and stops at 1

'I'

In [47]:
#3)
sentence[0:3]    # first three characters are start -0, stop-3 and step is 1

'I w'

Task 6:

name = "Innomatics Reserach Labs"

1)Apply slicing to extract a substring that includes the second to fifth characters.

2)Print the extracted substring.

In [48]:
name = "Innomatics Reserach Labs"

In [52]:
#1)
extracted_subString = name[1:5]  # starts-1 and stops 5 means its prints nnom which is 2-5 , step value by default its 1

In [53]:
#2)
print(extracted_subString)

nnom

Task 7:

string = "Python@1234"

1)Use slicing to extract every second character from the string.

2)Print the resulting sliced string.

In [57]:
string = "Python@1234"
resulted_string = string[1::2] # here i use step as 2 because we need every second character from the string  and starts with 1 because i didn't reqire first char
string[1::2]

'yhn13'

In [58]:
print(resulted_string)

yhn13

Task 8:

print last five letters.

Utilize slicing to reverse the word order in the string.

Print the string with the words in the reversed order.

In [60]:
string = "Python@1234"

In [61]:
string[6:]  # last five chars starting index value is 6 which is "@"" , so starts with 6.

'@1234'

In [62]:
print(string[6:])

@1234

In [63]:
string[::-1]   # here starts default is 0  and step is -1 which means start + step  values -1,-2,-3,-4,-5.... which means revesing the string

'4321@nohtyP'

In [64]:
print(string[::-1])

4321@nohtyP

Task 9:

a = "123123123"

Apply slicing to extract only the numeric characters at odd positions.

Print the sliced result.

In [65]:
a = "123123123"

In [71]:
result = a[0::2]  # for odd place we need step as 2 which means  index value are  0,2,4,5,6...
a[0::2]

'13213'

In [72]:
print(result)

13213