Assignment Task 1:

Tuple Basics Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

Assignment Task 2: 

Tuple Operations Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

Assignment Task 3:

Set Creation Create a Python set containing the first 10 even numbers (2, 4, 6, ...). Write a program to display this set.

Assignment Task 4: 

Set Operations Given two sets, write a Python program to find the union, intersection, and difference of these sets.

Assignment Task 5: 

Tuple and Set Conversion Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum values from the set.

Assignment Task 6: 

Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

Assignment Task 7: 

Set Operations and Methods Write a Python program that takes a set of numbers and performs the following operations:

Add a new number to the set.
Remove a number from the set.
Check if a specific number is in the set.
Find the size of the set.

Assignment Task 8: 

Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7thposition using slicing.

Assignment Task 9: 

Set Operations with Lists Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

Assignment Task 10: 

Tuple and Set Combinations Create a tuple containing the names of your friend's favorite movies and a set containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

Assignment Task 1:

Tuple Basics Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

In [1]:
fruits = ("mango","apple","banana","grape","kiwi")

In [2]:
fruits

('mango', 'apple', 'banana', 'grape', 'kiwi')

In [3]:
type(fruits)

tuple

In [4]:
fruits[0]

'mango'

In [5]:
fruits[1]

'apple'

In [6]:
fruits[2]

'banana'

In [7]:
fruits[3]

'grape'

In [8]:
fruits[4]

'kiwi'

Assignment Task 2:

Tuple Operations Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

In [9]:
tuple1 = (1,2,3,4,5)
tuple2 = (6,7,8,9,10)

In [12]:
a = tuple1 + tuple2

In [14]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [13]:
len(a)

10

Assignment Task 3:

Set Creation Create a Python set containing the first 10 even numbers (2, 4, 6, ...). Write a program to display this set.

In [15]:
a = {2,4,6,8,10,12,14,16,18,20}

In [16]:
a

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [17]:
type(a)

set

Assignment Task 4:

Set Operations Given two sets, write a Python program to find the union, intersection, and difference of these sets.

In [18]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {5,6,7,8,9,10,11,12}

In [19]:
set1.union(set2) # union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [20]:
set1.intersection(set2) # intersection

{5, 6, 7, 8, 9, 10}

In [22]:
set1.difference(set2)  # difference

{1, 2, 3, 4}

Assignment Task 5:

Tuple and Set Conversion Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum values from the set.

In [23]:
tup = (1,2,3,4,5,6,7,8,9,10,11,12)

In [24]:
type(tup)

tuple

In [25]:
a = set(tup)

In [26]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [27]:
type(a)

set

In [29]:
max(a) # maximun value

12

In [30]:
min(a) # minimun value

1

Assignment Task 6:

Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

- Yes tuple is immutbale

In [31]:
tup = (1,2,3,4,5,6)

- its is immutable because we cannaot able add or remove or modify the tuple lets try some methods.

In [32]:
tup.add(3) # error because no attribute ass add

AttributeError: 'tuple' object has no attribute 'add'

In [33]:
tup.remove(6) # shows error because  from tuple we can't able remove value

AttributeError: 'tuple' object has no attribute 'remove'

 - so we cannot able do methods which are add the value, remove the value, modify the value so this is called as the immutuable data structures.

- set is used for constant values which is unchangeable which means companies and their founders .

Assignment Task 7:

Set Operations and Methods Write a Python program that takes a set of numbers and performs the following operations:

Add a new number to the set. Remove a number from the set. Check if a specific number is in the set. Find the size of the set.

In [38]:
a = {1,2,3,55,66,77,12,34,56,34}

In [39]:
a

{1, 2, 3, 12, 34, 55, 56, 66, 77}

In [42]:
a.add(100)  # by add function we can add the number

In [43]:
a

{1, 2, 3, 12, 34, 55, 56, 66, 77, 100}

In [44]:
a.remove(3)  # by remove function we can remove the number

In [45]:
a.

{1, 2, 12, 34, 55, 56, 66, 77, 100}

In [51]:
len(a)  # size  of set is 9

9

In [49]:
2 in a

True

Assignment Task 8:

Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7thposition using slicing.

In [52]:
tup = (1,2,3,4,5,6,7,8,9,10)

In [54]:
tup[2:7]

(3, 4, 5, 6, 7)

Assignment Task 9:

Set Operations with Lists Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

In [55]:
list1 = [1,2,3,4,5,6,7,8,2,3,2,3,4,5,5,6,5,6]

In [56]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 2, 3, 2, 3, 4, 5, 5, 6, 5, 6]

In [57]:
a = set(list1)

In [58]:
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [59]:
len(list1)

18

In [60]:
len(a)

8

In [61]:
duplicates_removed = len(list1)-len(a)

In [62]:
duplicates_removed

10

Assignment Task 10:

Tuple and Set Combinations Create a tuple containing the names of your friend's favorite movies and a set containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

In [63]:
frds_movies  = ("Avengers","NUN","Khusi","boys hostel")

In [73]:
my_movies = {"Avengers","flash","spiderman","Khusi","boys hostel"}

In [74]:
a = set(frds_movies)

In [75]:
a

{'Avengers', 'Khusi', 'NUN', 'boys hostel'}

In [76]:
my_movies.intersection(a)  # common movies

{'Avengers', 'Khusi', 'boys hostel'}