Task1: Append and Modify Elements

Create an empty list called numbers. Append the numbers 1, 2, and 3 to the list.

Modify the element at index 1 to be 4.

Print the updated list.

Task2: Slicing and Concatenation

Create a list called fruits with elements 'apple', 'banana', 'orange', 'mango', and 'kiwi'.

Create a new list by slicing fruits to include only the citrus fruits ('orange' and 'mango"). * Create a new list called tropical by slicing fruits to include only the tropical fruits ('banana" and "kiwi').

Concatenate citrus and tropical lists to create a new list called combined. Print combined.

Task3: Counting and Removing Elements

Create a list called colors with repeated elements 'red', 'blue', 'red', 'green', 'red'. Print the number of occurrences of 'red' in the list. Remove all occurrences of 'red' from the list. Print the updated list.

Task 4: List Manipulation

Add 'cheese' to the end of the list. Remove 'milk' from the list.

Create a list called groceries with initial items: 'bread', 'milk', 'eggs', 'butter'. Print the final list of groceries.
Insert 'yogurt' at index 1.

Task1: Append and Modify Elements

Create an empty list called numbers. Append the numbers 1, 2, and 3 to the list.

Modify the element at index 1 to be 4.

In [3]:
numbers = []

In [4]:
numbers.append(1)

In [5]:
numbers.append(2)

In [6]:
numbers.append(3)

In [7]:
numbers

[1, 2, 3]

In [8]:
numbers.insert(1,4)

In [9]:
numbers

[1, 4, 2, 3]

Task2: Slicing and Concatenation

1)Create a list called fruits with elements 'apple', 'banana', 'orange', 'mango', and 'kiwi'.

2)Create a new list by slicing fruits to include only the citrus fruits ('orange' and 'mango"). * Create a new list called tropical by slicing fruits to include only the tropical fruits ('banana" and "kiwi').

3)Concatenate citrus and tropical lists to create a new list called combined. Print combined.

In [10]:
fruits = ['apple', 'banana', 'orange', 'mango','kiwi']

In [11]:
citrus_fruits = fruits[2:4]

In [12]:
citrus_fruits

['orange', 'mango']

In [20]:
tropical_fruits = fruits[1::3]

In [21]:
tropical_fruits

['banana', 'kiwi']

In [24]:
combined_list =  citrus_fruits + tropical_fruits

In [25]:
combined_list

['orange', 'mango', 'banana', 'kiwi']

Task3: Counting and Removing Elements

Create a list called colors with repeated elements 'red', 'blue', 'red', 'green', 'red'. Print the number of occurrences of 'red' in the list. Remove all occurrences of 'red' from the list. Print the updated list.

In [26]:
colors = ['red', 'blue', 'red', 'green', 'red']

In [27]:
colors.count("red") # no .of occures red is 3

3

In [35]:
colors

['blue', 'red', 'green', 'red', 'red']

In [36]:
colors.remove("red")

In [37]:
colors.remove("red")

In [38]:
colors.remove("red")

In [40]:
updated_list= print(colors)

['blue', 'green']

Task 4: List Manipulation

Add 'cheese' to the end of the list. Remove 'milk' from the list.

Create a list called groceries with initial items: 'bread', 'milk', 'eggs', 'butter'. Print the final list of groceries. Insert 'yogurt' at index 1.

In [43]:
groceries = ['bread', 'milk', 'eggs','butter']

In [44]:
groceries.append('cheese' )

In [45]:
groceries

['bread', 'milk', 'eggs', 'butter', 'cheese']

In [46]:
groceries.remove('milk')

In [48]:
groceries.insert(1,'yogurt')

In [49]:
groceries

['bread', 'yogurt', 'eggs', 'butter', 'cheese']